.Hangman {
	height: 350px;
	width: 350px;
	margin: 50px;
	position: relative;
}

@media (max-width: 960px) {
  .Hangman {
		width: 100%;
    height: 350px;
  }
}

hr {
	margin: 0px;
	position: absolute;
	border: 2px solid white;
	border-radius: 2px;
}

hr.Vertical {
	background-color: white;
	border: none;
	width: 4px;
}

hr#Land {
	bottom: 0px;
	width: 100%;
}

hr#Stand {
	bottom: 0%;
	left: 20%;
	height: 100%;
}

hr#Bar {
	bottom: 100%;
	left: 20%;
	width: 60%;
}

hr#Noose {
	bottom: 85%;
	left: 50%;
	height: 15%;
}

hr#Head {
	bottom: 63%;
	left: 40%;
	width: 20%;
	height: 20%;
	border-radius: 50%;
	border-width: 4px;
}

hr#Body {
	bottom: 39%;
	left: 50%;
	height: 25%;
}

hr#LeftArm {
	bottom: 53%;
	left: 36%;
	width: 20%;
	transform: rotate(110deg);
}

hr#RightArm {
	bottom: 53%;
	left: 44%;
	width: 20%;
	transform: rotate(70deg);
}

hr#LeftLeg {
	bottom: 30%;
	left: 36%;
	width: 20%;
	transform: rotate(110deg);
}

hr#RightLeg {
	bottom: 30%;
	left: 44%;
	width: 20%;
	transform: rotate(70deg);
}

hr.Eye1 {
	transform: rotate(50deg);
}

hr.Eye2 {
	transform: rotate(120deg);
}

hr.LeftEye {
	bottom: 75%;
	left: 42%;
	width: 9%;
}

hr.RightEye {
	bottom: 74%;
	left: 51%;
	width: 8%;
}