.Hangman {
	height: 350px;
	margin: 50px 0px;
	position: relative;
}

@media (max-width: 960px) {
  .Hangman {
		width: 100%;
    height: 350px;
  }
}

hr {
	margin: 0px;
	position: absolute;
	border: 2px solid white;
	border-radius: 2px;
}

hr.Vertical {
	background-color: white;
	border: none;
	width: 4px;
}

hr#Land {
	bottom: 0px;
	left: 25%;
	width: 50%;
}

hr#Stand {
	bottom: 0%;
	left: 35%;
	height: 100%;
}

hr#Bar {
	bottom: 100%;
	left: 35%;
	width: 30%;
}

hr#Noose {
	bottom: 85%;
	left: 50%;
	height: 15%;
}

hr#Head {
	bottom: 63%;
	left: 45%;
	width: 10%;
	height: 20%;
	border-radius: 50%;
	border-width: 4px;
}

hr#Body {
	bottom: 37%;
	left: 50%;
	height: 25%;
}

hr#LeftArm {
	bottom: 53%;
	left: 43.3%;
	width: 10%;
	transform: rotate(110deg);
}

hr#RightArm {
	bottom: 53%;
	left: 46.7%;
	width: 10%;
	transform: rotate(70deg);
}

hr#LeftLeg {
	bottom: 27%;
	left: 43.3%;
	width: 10%;
	transform: rotate(110deg);
}

hr#RightLeg {
	bottom: 27%;
	left: 46.7%;
	width: 10%;
	transform: rotate(70deg);
}