.Input {
  margin: auto;
  border-spacing: 7px;
}

table.Input td.Character {
  padding: 0;
  height: 40px;
  width: 35px;
  font-size: 40px;
  font-weight: bold;
}

table.Input td.Guessed {
  border-bottom: 2px;
  color: white;
}

table.Input td.Hidden {
  color: transparent;
  border-bottom: 2px solid slategray;
}

table.Input td.Space { 
  margin: 0px 2px;
  width: 15px;
}

table.Input td.Answer {
  border-bottom: 2px;
  opacity: 50%;
}