.Guesses {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

.GuessRow {
  display: flex;
  justify-content: center;
}

.Guess {
  font-size: larger;
  font-weight: bold;
  padding: 5px 15px;
}

.Guesses.Inactive {
  opacity: 20%;
}

.Guess.Invalid {
  opacity: 20%;
}

.Guess.Valid {
  color: springgreen;
  opacity: 60%;
}

@media (max-width: 960px) {
  .Guesses {
    padding-top: 50px;
  }

  .GuessRow {
    padding: 0px 10px;
    max-width: 940px;
    min-width: 370px;
  }

  .Guess {
    padding: 5px 10px;
    font-size: x-large;
   }
}