.Guesses {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GuessRow {
  display: flex;
  justify-content: center;
}

.Guess {
  font-size: larger;
  font-weight: bold;
  margin: 5px 15px;
}

.Guesses.Inactive {
  opacity: 20%;
}

.Guess.Invalid {
  opacity: 20%;
}

.Guess.Valid {
  color: springgreen;
  opacity: 60%;
}