.Gameboard {
  width: 700px;
  padding: 50px 20px;
 	/*border-radius: 5px;
  border: solid slategray;*/
}

@media (max-width: 960px) {
  .Gameboard {
    width: 100%;
    height: 100%;
  }
}

p {
  margin-top: 0px;
}